# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

Dark, Ozark, The Witcher, Attack On Titan, Beastars, Ancient Aliens, Supernatural

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [22]:
import sqlite3 as sl 
import pandas as pd 


# con = sl.connect('tv_shows.db')
# print('open database sucessfully')

# con.execute("""
#         CREATE TABLE tv_shows (
#             id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT
#             title TEXT,
#             year TEXT,
#             age text,
#             imdb text,
#             rotten_tomatoe text,
#             netflix integer,
#             hulu integer,
#             prime_video integer
#         );
#     """)

df = pd.read_csv('tv_shows.csv')
df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [23]:
df = tv.drop(columns=['Unnamed: 0'])
df.head()

KeyError: "['Unnamed: 0'] not found in axis"

In [24]:
df = tv.rename(columns={'Rotten Tomatoes': 'RottenTomatoes', 'Prime Video':'Prime', 'Disney+':'Disney'})
df.head()

,ID,Title,Year,Age,IMDb,RottenTomatoes,Netflix,Hulu,Prime,Disney,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [26]:
conn = sl.connect('tv.db')

In [28]:
conn.execute('DROP TABLE shows')

In [29]:
df.to_sql('shows', conn)

5368

In [31]:
# conn.execute("""
#     CREATE TABLE shows(
#          ID INT PRIMARY KEY     NOT NULL,
#          TITLE           TEXT    NOT NULL,
#          YEAR            INT     NOT NULL,
#          AGE             INT,
#          IMDb            TEXT,
#          ROTTENTOMATOES  TEXT,
#          NETFLIX         INT,
#          HULU            INT,
#          PRIME           INT,
#          DISNEY          INT
#          );
#     """)
# print("Table created successfully")

With your new table and database set up, print out the top 20 records in the `shows` table.

In [32]:
pd.read_sql_query('select * from shows limit 20', conn)

,index,ID,Title,Year,Age,IMDb,RottenTomatoes,Netflix,Hulu,Prime,Disney,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1
10,10,11,Mindhunter,2017,18+,8.6/10,90/100,1,0,0,0,1
11,11,12,Community,2009,7+,8.5/10,90/100,1,1,1,0,1
12,12,13,Narcos,2015,18+,8.8/10,90/100,1,0,0,0,1
13,13,14,Shameless,2011,18+,8.5/10,90/100,1,1,1,0,1
14,14,15,Money Heist,2017,18+,8.3/10,90/100,1,0,0,0,1
15,15,16,Marvel's Daredevil,2015,18+,8.6/10,90/100,1,0,0,0,1
16,16,17,Lucifer,2016,16+,8.1/10,90/100,1,0,0,0,1
17,17,18,Supernatural,2005,16+,8.4/10,89/100,1,0,0,0,1
18,18,19,The Witcher,2019,18+,8.2/10,89/100,1,0,0,0,1
19,19,20,Ozark,2017,18+,8.4/10,89/100,1,0,0,0,1

Now add a table that includes an id number and the titles on your watchlist.

In [36]:
df2 = df.drop(columns = ['ID','Title', 'Year', 'Age', 'IMDb', 'RottenTomatoes', 'Netflix', 'Hulu', 'Prime', 'Disney', 'Type'])
df2.to_sql('show_id', conn)

5368

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [49]:
print(df.describe())
print(df['Netflix'].value_counts())
print(df['Hulu'].value_counts())
print(df['Prime'].value_counts())
print(df['Disney'].value_counts())

                ID         Year      Netflix         Hulu        Prime  \
count  5368.000000  5368.000000  5368.000000  5368.000000  5368.000000
mean   2814.945790  2012.628726     0.367176     0.301975     0.341095
std    1672.385727    10.142813     0.482080     0.459157     0.474122
min       1.000000  1904.000000     0.000000     0.000000     0.000000
25%    1345.750000  2011.000000     0.000000     0.000000     0.000000
50%    2788.000000  2016.000000     0.000000     0.000000     0.000000
75%    4308.250000  2018.000000     1.000000     1.000000     1.000000
max    5717.000000  2021.000000     1.000000     1.000000     1.000000

            Disney    Type
count  5368.000000  5368.0
mean      0.065387     1.0
std       0.247231     0.0
min       0.000000     1.0
25%       0.000000     1.0
50%       0.000000     1.0
75%       0.000000     1.0
max       1.000000     1.0
0    3397
1    1971
Name: Netflix, dtype: int64
0    3747
1    1621
Name: Hulu, dtype: int64
0    3537
1    1831
Name: Prime, dtype: int64
0    5017
1     351
Name: Disney, dtype: int64

In [62]:
conn.execute('DROP table watchlist')

In [55]:
# watchlist = pd.DataFrame({
#     'id' : [1, 2, 3, 4, 5, 6, 7, 8],
#     'title' : [
#         'The Good Place',
#         'Spy X Family',
#         'Sandman',
#         'Sailor Moon',
#         'Pokemon',
#         'Cobra Kai',
#         'The Witcher',
#         'Naruto']
#     })

In [40]:
# watchlist.to_sql('watchlist', conn)

8

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [63]:
streaming_df = pd.read_sql("""
    SELECT watchlist.title, shows.Netflix, shows.Hulu, shows.Prime, shows.Disney 
    FROM watchlist JOIN shows ON shows.Title == watchlist.title;
    """, conn)

streaming_df.to_sql('watchlist_streaming', conn)

DatabaseError: Execution failed on sql '
    SELECT watchlist.title, shows.Netflix, shows.Hulu, shows.Prime, shows.Disney
    FROM watchlist JOIN shows ON shows.Title == watchlist.title;
    ': no such table: watchlist

In [64]:
print(streaming_df['Netflix'].value_counts())
print(streaming_df['Hulu'].value_counts())
print(streaming_df['Prime'].value_counts())
print(streaming_df['Disney'].value_counts())

Series([], Name: Netflix, dtype: int64)
Series([], Name: Hulu, dtype: int64)
Series([], Name: Prime, dtype: int64)
Series([], Name: Disney, dtype: int64)

In [65]:
pd.read_sql_query('select * from watchlist_streaming limit 20', conn)

Empty DataFrame
Columns: [index, title, Netflix, Hulu, Prime, Disney]
Index: []

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?